[Unit]
Description=Node.js Web Application
After=network.target cloud-init.target
Wants=cloud-init.target

 

[Service]
EnvironmentFile=/home/admin/.env
WorkingDirectory=/home/admin/webapp
ExecStart=/home/admin/server.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin:/usr/local/node/bin

 

[Install]
WantedBy=multi-user.target