[Unit]
Description=Node.js Web Application
After=network.service
After=cloud-final.service

[Service]
Type=simple
ExecStart=/usr/bin/node /home/admin/server.js
Restart=on-failure
User=ec2-user
Group=ec2-user

[Install]
WantedBy=cloud-init.target